# Secret Key Django
SECRET_KEY=django-insecure-fablab-saas-platform-key-2026

# Configuration Base de données PostgreSQL
POSTGRES_DB=fablab_db
POSTGRES_USER=sekponakokou
POSTGRES_PASSWORD=fablab_secret_2026
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Cache & Message Broker Redis
REDIS_URL=redis://redis:6379/0

# Mode Débogage (0 pour la prod, 1 pour le dev)
DEBUG=1
USE_POSTGRES=1
USE_PROD_POSTGRES=0
